*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    padding: 20px;
    text-align: center;
}
.one{
    background-image: url(/images/background\ 2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
   background-color: rgba(0, 0, 0, 0.204);
   position: relative;
   z-index: 2;
   
}
.logo {
    color:rgb(241, 237, 237); ;
    font-size: 24px;
    font-weight: bold;
}
nav{
    text-align: center;
   
}
ul{
    list-style-type: none;
     display: flex;
}
li{
    float: left;
}
 li a{
    display: block;
    padding: 8px;
    color: rgb(241, 237, 237);
text-decoration: none;
}
li a:hover{
    background-color: #008f7a;
    color: black ;
} 
.info {
    text-align: center;
    padding: 20px;
    color: white;
    position: relative;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 2; 
     margin: auto ; 
}
button{
    margin-top: 10px;
  border: 0;
    color: black ;
    border-radius: 7px;
    width: 10%;
    height: 25px;
}
button:hover{
background-color: #008f7a;
color: white;
}
.layer {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    inset: 0;
    z-index: 1;
}
.items{
   text-align: center;
    margin-top: 50px; 
}
.items span {
    font-size: small;
    padding: 50px ;
    color:red;
}
.items p{
font-size: 30px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 40%; /* adjust the width to your needs */
    margin: 20px;
  }
  /* .peple-container{
margin-top: 50px;




  }
 .people{
    display: flex;
    flex-direction: row;
 }
 .people-image{
    width: 20%;
    margin: 20px;

 } */
  .people span{
    font-size: 30px;
    padding: 450px ;
    margin-bottom: 100px;
}
 .all{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item{
    margin: 20px;
}
.item img{
    width: 200px;
    height: 200px;
}
.item img , .item h2:hover{
    background-color: aquamarine;
}
.item h2{
    font-size: 10px;
}
.item p{
    font-size: larger;
}
.form-container{
    width: 100%;
    height: 100vh;
    background-image:url(images/sutterlin.jpg);
}

.right-con{
    overflow: auto;
    margin: 180px;
    float:left;
    width: 60%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.33);
}


.right-con{
    float: right;
    width: 60%;
    text-align: left;
}


.form-group {
margin-bottom: 10px;
width: 48%; 
float: left;
margin: 5px;
}
.form-group textarea {
 clear: both; 
height: 200px;
}

.form-group label {
display: block;
margin-bottom: 5px;
}
.form-group input,
.form-group textarea {
width: 100%;
padding: 8px;
box-sizing: border-box;
background-color: #fff;
border-radius: 15px;
resize: none;
}


button[type="submit"]{
padding: 10px 20px;
background-color: #00bfa6;
color: white;
border: none;
cursor: pointer;
width: 120px;
height: 40px;
border-radius: 20px;
clear: both;
}

button[type="submit"]:hover {
background-color: #008f7a;
} 
.footer-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont{
    width: 500px;
    height: 500px;
    margin: 50px;
}

.sci{
    margin: 20px;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: .5s;
}

.sci li a:hover{
    background: rgb(77, 228, 255);
}

.sci i a .bx{
    color: #fff;
    font-size: 20px;
}